<span class="direction-text"> <b>Review the displayed recipes: </b></span> <br>
<span class="direction-text">
    <ul>
      <li>You can add recipes to your meal plan <i class="fas fa-tasks like_color_select"></i> </li>
      <li>Use thumbs down if you prefer not to see similar recipes <i class="far fa-thumbs-down de_select dis_like_color_select"></i> </li>
      <li>You don't have to provide feedback for each recipe <i class="fas fa-tasks de_select"></i><i class="far fa-thumbs-down de_select"></i> </li>
      <li>Click on <a>Explore More <i class="fas fa-search"></i></a>
          to view similar recipes.</li>
    </ul>
</span>
