<div class="row">
    <span class="direction-text"> <b>Review the displayed recipes: </b></span> <br>
    <span class="direction-text">
        <ul>
          <li>Use thumbs up if you liked a recipe <i class="far fa-thumbs-up like_color_select"></i> </li>
          <li>Use thumbs down if you prefer not to see similar recipes <i class="far fa-thumbs-down de_select dis_like_color_select"></i> </li>
          <li>You don't have to provide feedback for each recipe <i class="far fa-thumbs-up de_select"></i><i class="far fa-thumbs-down de_select"></i> </li>
        </ul>
    </span>
</div>