<!DOCTYPE html>
<html>
  <head>
    <title>index</title>
    {% load static %}
    {% csrf_token %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
<!--    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>-->
<!--    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>-->
<!-- new -->
     <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
 <!-- -->
          <script src = "https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i">

    <link rel="stylesheet" type="text/css" href="{% static 'css/custom_css.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/circle.css' %}">
    <script src="{% static 'js/notify.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    {% block javascript_block %}{% endblock %}

  </head>
  <body>
    <div id='container-div' class="container">
      <div class="row">
        <div class="col-md-2">
          <img class="img-header" src='{% static "images/logo.png" %}' alt="My image">
        </div>
        <div class="col-md-10">
          <span class="float-right">
          <h1>{% block page_title %}{% endblock %}</h1>
            </span>
        </div>
      </div>
      <hr>
        <div class="row">
            {% block page_direction %}{% endblock %}
        </div>
        <div class="row">
          {% block breadcrumbs %}{% endblock %}
        </div>
        <div class="row">
          {% block content %}{% endblock %}
        </div>
        <div class="row">
          {% block button_block %}
          {% endblock %}
        </div>
        <div class="row">
          {% block footer %}

          {% endblock %}
        </div>
        <div id="modal_holder">

        </div>
    </div>

  </body>
</html>