{% extends "main_app/base.html" %}
{% load static %}

{%block javascript_block%}
  <script src="{% static 'js/reflection.js' %}"></script>
{%endblock%}

{% block page_title %}
  Part 2: Reflection on Session {{session_number}} of 4
{% endblock %}

{% block page_direction %}
  <div class="row">
    <span class="direction-text"><b>We would like to hear your feedback based on the recommended recipes:</b></span> <br>
    <span class="direction-text">Please answer the following questions below. </span>
  </div>
{% endblock %}

{% block content %}
<hr>

  <div class="row">
    <ol>
    <div class="col-md-12">
      <div class="row">
        <li>
          <span class="normal-text">I found new recipes:</span>
        </li>
      </div>
      <div class="row">
        <div class="col-md-2">
        <label>
          <input id="q2_o1"  name="q2" type="radio" value="5">
            Strongly agree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input id="q2_o2"  name="q2" type="radio" value="4">
            Agree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input id="q2_o3"  name="q2" type="radio" value="3">
            Neutral
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input id="q2_o4"  name="q2" type="radio" value="2">
            Disagree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input id="q2_o5"  name="q2" type="radio" value="1">
            Strongly Disagree
          </input>
        </label>
        </div>
      </div>

      <div class="row top-buffer">
        <li>
          <span class="normal-text"> Among the recipes I liked, I am willing to try all of them: </span>
        </li>
      </div>
       <div class="row">
        <div class="col-md-2">
        <label>
          <input id="q3_o1"  name="q3" type="radio" value="5">
            Strongly agree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input id="q3_o2"  name="q3" type="radio" value="4">
            Agree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input id="q3_o3"  name="q3" type="radio" value="3">
            Neutral
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input id="q3_o4"  name="q3" type="radio" value="2">
            Disagree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input id="q3_o5"  name="q3" type="radio" value="1">
            Strongly Disagree
          </input>
        </label>
        </div>
      </div>

      <div class="row top-buffer">
        <li>
          <span class="normal-text"> I have seen recipes of different variety: </span>
        </li>
      </div>
      <div class="row">
        <div class="col-md-2">
        <label>
          <input id="q4_o1"  name="q4" type="radio" value="5">
            Strongly agree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input id="q4_o2"  name="q4" type="radio" value="4">
            Agree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input id="q4_o3"  name="q4" type="radio" value="3">
            Neutral
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input id="q4_o4"  name="q4" type="radio" value="2">
            Disagree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input id="q4_o5"  name="q4" type="radio" value="1">
            Strongly Disagree
          </input>
        </label>
        </div>
      </div>


      <div class="row top-buffer">
        <li>
          <span class="normal-text"> Recipes in my meal plan were similar to each other:</span>
        </li>
      </div>
      <div class="row">
        <div class="col-md-2">
        <label>
          <input id="q5_o1"  name="q5" type="radio" value="5">
            Strongly agree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input id="q5_o2"  name="q5" type="radio" value="4">
            Agree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input id="q5_o3"  name="q5" type="radio" value="3">
            Neutral
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input id="q5_o4"  name="q5" type="radio" value="2">
            Disagree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input id="q5_o5"  name="q5" type="radio" value="1">
            Strongly Disagree
          </input>
        </label>
        </div>
      </div>

      <div class="row top-buffer">
        <li>
          <span class="normal-text"> I was able to create a meal plan from different variety of recipes:</span>
        </li>
      </div>
      <div class="row">
        <div class="col-md-2">
        <label>
          <input id="q6_o1"  name="q6" type="radio" value="5">
            Strongly agree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input id="q6_o2"  name="q6" type="radio" value="4">
            Agree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input id="q6_o3"  name="q6" type="radio" value="3">
            Neutral
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input id="q6_o4"  name="q6" type="radio" value="2">
            Disagree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input id="q6_o5"  name="q6" type="radio" value="1">
            Strongly Disagree
          </input>
        </label>
        </div>
      </div>

      <div class="row top-buffer">
        <li>
          <span class="normal-text">The waiting time for the new recipes to load was acceptable:</span>
        </li>
      </div>
      <div class="row">
        <div class="col-md-2">
        <label>
          <input id="qt_o1"  name="qt" type="radio" value="5">
            Strongly agree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input id="qt_o2"  name="qt" type="radio" value="4">
            Agree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input id="qt_o3"  name="qt" type="radio" value="3">
            Neutral
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input id="qt_o4"  name="qt" type="radio" value="2">
            Disagree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input id="qt_o5"  name="qt" type="radio" value="1">
            Strongly Disagree
          </input>
        </label>
        </div>
      </div>

      <div class="row top-buffer">
        <li>
          <span class="normal-text"> What was your main decision when you selected to see similar recipes? </span>
        </li>
      </div>
      <div class="row">
        <div class="col-md-3">
        <label>
          <input id="q7_o1"  name="q7" type="radio" value="Flavor">
            Flavor
          </input>
        </label>
        </div>
        <div class="col-md-3">
        <label>
          <input id="q7_o2"  name="q7" type="radio" value="Nutrition">
            Nutritional facts
          </input>
        </label>
        </div>
        <div class="col-md-3">
        <label>
          <input id="q7_o3"  name="q7" type="radio" value="time_ingr">
            Preparation time & number of ingredients
          </input>
        </label>
        </div>
      </div>


  </div>

    </ol>
  </div>
<hr>

<div class="col-md-6 col-md-offset-3">
  {% if session_number == 4 %}
    <button class="btn btn-primary" id='reflection-btn' style="width: 100%">End Study</button>
  {% else %}
    <button class="btn btn-primary" id='reflection-btn' style="width: 100%">Proceed to next session</button>
  {% endif %}

<!--  onclick="location.href='{% url 'session_2' %}'"-->
</div>
{% endblock %}