{% extends "main_app/base.html" %}
{% load static %}

{%block javascript_block%}
  <script src="{% static 'js/reflection.js' %}"></script>
{%endblock%}

{% block page_title %}
  Part 2: Reflection on Session {{session_number}} of 4
{% endblock %}

{% block page_direction %}
  <div class="row">
    <span class="direction-text"><b>We would like to hear your feedback based on the recommended recipes:</b></span> <br>
    <span class="direction-text">Please answer the following questions below. </span>
  </div>
{% endblock %}

{% block content %}
<hr>

  <div class="row">
    <ol>
    <div class="col-md-12">
    <!-- First question -->
      <div class="row">
        <li>
        <span>I found the recipes I was looking for:</span>
        </li>
      </div>
      <div class="row">
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q1_o1" name="q1" value="5">
            Strongly agree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q1_o2" name="q1" value="4">
            Agree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q1_o3" name="q1" value="3">
            Neutral
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q1_o4" name="q1" value="2">
            Disagree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q1_o5" name="q1" value="1">
            Strongly Disagree
          </input>
        </label>
        </div>
      </div>


    <!-- Second question -->
    <div>
      <div class="row top-buffer">
        <li>
          <span class="normal-text">I found new recipes:</span>
        </li>
      </div>
      <div class="row">
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q2_o1" name="q2" value="5">
            Strongly agree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q2_o2" name="q2" value="4">
            Agree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q2_o3" name="q2" value="3">
            Neutral
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q2_o4" name="q2" value="2">
            Disagree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q2_o5" name="q2" value="1">
            Strongly Disagree
          </input>
        </label>
        </div>
      </div>
    </div>
    <!-- Third question -->
    <div>
      <div class="row top-buffer">
        <li>
          <span class="normal-text"> Among the recipes I liked, I am willing to try all of them: </span>
        </li>
      </div>
       <div class="row">
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q3_o1" name="q3" value="5">
            Strongly agree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q3_o2" name="q3" value="4">
            Agree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q3_o3" name="q3" value="3">
            Neutral
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q3_o4" name="q3" value="2">
            Disagree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q3_o5" name="q3" value="1">
            Strongly Disagree
          </input>
        </label>
        </div>
      </div>
    </div>

    <!-- Fourth question -->
    <div>
      <div class="row top-buffer">
        <li>
          <span class="normal-text"> I have seen recipes of different variety: </span>
        </li>
      </div>
      <div class="row">
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q4_o1" name="q4" value="5">
            Strongly agree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q4_o2" name="q4" value="4">
            Agree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q4_o3" name="q4" value="3">
            Neutral
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q4_o4" name="q4" value="2">
            Disagree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q4_o5" name="q4" value="1">
            Strongly Disagree
          </input>
        </label>
        </div>
      </div>
    </div>

    <!-- Fifth question -->
    <div>
      <div class="row top-buffer">
        <li>
          <span class="normal-text"> Recipes in my meal plan were similar to each other:</span>
        </li>
      </div>
      <div class="row">
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q5_o1" name="q5" value="5">
            Strongly agree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q5_o2" name="q5" value="4">
            Agree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q5_o3" name="q5" value="3">
            Neutral
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q5_o4" name="q5" value="2">
            Disagree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q5_o5" name="q5" value="1">
            Strongly Disagree
          </input>
        </label>
        </div>
      </div>
    </div>

    <!-- Sixth question -->
    <div>
      <div class="row top-buffer">
        <li>
          <span class="normal-text"> I was able to create a meal plan from different variety of recipes:</span>
        </li>
      </div>
      <div class="row">
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q6_o1" name="q6" value="5">
            Strongly agree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q6_o2" name="q6" value="4">
            Agree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q6_o3" name="q6" value="3">
            Neutral
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q6_o4" name="q6" value="2">
            Disagree
          </input>
        </label>
        </div>
        <div class="col-md-2">
        <label>
          <input type="radio"  id="q6_o5" name="q6" value="1">
            Strongly Disagree
          </input>
        </label>
        </div>
      </div>
    </div>
    <!-- Seventh question -->
    <div>
      <div class="row top-buffer">
        <li>
          <span class="normal-text"> What was your main decision when you selected to see similar recipes? </span>
        </li>
      </div>
      <div class="row">
        <div class="col-md-3">
        <label>
          <input type="radio"  id="q7_o1" name="q7" value="Flavor">
            Flavor
          </input>
        </label>
        </div>
        <div class="col-md-3">
        <label>
          <input type="radio"  id="q7_o2" name="q7" value="Nutrition">
            Nutritional facts
          </input>
        </label>
        </div>
        <div class="col-md-3">
        <label>
          <input type="radio"  id="q7_o3" name="q7" value="time_ingr">
            Preparation time & number of ingredients
          </input>
        </label>
        </div>
      </div>
    </div>

  </div>

    </ol>
  </div>
<hr>

<div class="col-md-6 col-md-offset-3">
  {% if session_number == 4 %}
    <button id='reflection-btn' class="btn btn-primary" style="width: 100%">End Study</button>
  {% else %}
    <button id='reflection-btn' class="btn btn-primary" style="width: 100%">Proceed to next session</button>
  {% endif %}

<!--  onclick="location.href='{% url 'session_2' %}'"-->
</div>
{% endblock %}