{% extends "main_app/base.html" %}
{% load static %}

{% block page_title %}
  Feedback!
{% endblock %}

{%block javascript_block%}
  <script src="{% static 'js/feedback.js' %}"></script>
{%endblock%}

{% block page_direction %}
{% endblock %}

{% block content %}
<div class="row">
        <div class="col-md-5 offset-md-3">
          <img class='img-responsive' src='{% static "images/logo.png" %}' alt="My image">
        </div>
        <div class="col-md-4">
          <div class="row">
          <span>
            <p style="background-color: #e79473;">
                <a href='{% url 'download_meal_plan' %}'>Click here </a> to download a comprehensive list of recipes you have added to the meal plan during the study.
            </p>

            <p class="text-justify intro-text">
              Was there any information about recipes that you would have liked to see that was missing from the recipe details?
              </br>
            </p>
                <textarea id="comment-txt" rows="10" cols="50"></textarea>
                <button id='feedback-btn' class="btn btn-primary" style="width: 100%">Submit</button>
            </p>

          </span>
          </div>


        </div>
      </div>
{% endblock %}