{% extends "main_app/base.html" %}
{% load static %}

{% block page_title %}
  Thank You!
{% endblock %}

{% block page_direction %}
{% endblock %}

{% block content %}
<div class="row">
        <div class="col-md-5 offset-md-3">
          <img class='img-responsive' src='{% static "images/logo.png" %}' alt="My image">
        </div>
        <div class="col-md-4">
          <div class="row">
          <span>
            <h3>Thank You!</h3>
            <br>
            <br>
            <p class="text-justify intro-text">
              Thanks for taking time and participate in the study. Please send the confirmation code to the researcher.
              </br>
              </br>
              Code: <span class="important-text">{{code}} </span>
            </p>
            <p>
                Use the following email: <a>fabbas1@uncc.edu</a>
            </p>
            <p style="background-color: #e79473;">
                <a href='{% url 'download_meal_plan' %}'>Click here </a> to download a comprehensive list of recipes you have added to the meal plan during the study.

            </p>
          </span>
          </div>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/gEP7p_WzCkQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
      </div>
{% endblock %}