{% extends "main_app/base.html" %}
{% load static %}

{% block page_title %}
  Thank You!
{% endblock %}

{%block javascript_block%}
  <script src="{% static 'js/thank_you.js' %}"></script>
{%endblock%}

{% block page_direction %}
{% endblock %}

{% block content %}
<div class="row">
        <div class="col-md-5 offset-md-3">
          <img class='img-responsive' src='{% static "images/logo.png" %}' alt="My image">
        </div>
        <div class="col-md-4">
          <div class="row">
          <span>
            <h3>Thank You!</h3>
            <br>
            <br>
            <p class="text-justify intro-text">
              Thanks for taking time and participate in the study. Please send the confirmation code to the researcher, using the following email: <a>fabbas1@uncc.edu</a>
              </br>
              </br>
              Code: <span class="important-text">{{code}} </span>
            </p>
            <p style="background-color: #e79473;">
                <a href='{% url 'download_meal_plan' %}'>Click here </a> to download a comprehensive list of recipes you have added to the meal plan during the study.
            </p>
            <p>
                If you would like to leave feedback, please use the textbox below and hit submit.
                <br>
                <textarea id="comment-txt" rows="10" cols="50"></textarea>
                <button id='comment-btn' class="btn btn-primary" style="width: 100%">Submit comment</button>
            </p>

          </span>
          </div>


        </div>
      </div>
{% endblock %}